body {
    font-family: "Open Sans", sans-serif;

}
h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #3046c5;
}

header h2 {
    color: #cec8ff;
}


 .site-footer {
    background-image: linear-gradient(#CEC8ff, white);
    padding: 20px 0;
} 

.jumbotron {
    margin:0;
    padding: 30px;
    background-image: linear-gradient(to right, #5567dd, #3046c5, #60106b);
    color: white;

}
.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;

}
.navbar {
    background-color: #901cad;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.img-thumbnail {
    padding: 0.25rem;
    background-attachment: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
}
a, a:hover {
    color: inherit;
    text-decoration: none;
  }
.tab-content{
border: 1px solid #DDD;
border-top: none;
padding: 10px;

}